In [2]:
import pandas as pd

In [3]:
import os
os.chdir("/Users/spiff/Documents/Data Playground/State Trade Analysis")

In [4]:
os.getcwd()

'/Users/spiff/Documents/Data Playground/State Trade Analysis'

In [5]:
gvc_class = pd.read_excel("GVC_Classifcation.xlsx")

In [6]:
gvc_class.head()

,Nomencode,ProductGroupCode,ProductGroupName,ProductCode,Productdescription
0,H4,FinalApparel,Final Apparel,420310,- Articles of apparel
1,H4,FinalApparel,Final Apparel,420329,-- Other
2,H4,FinalApparel,Final Apparel,420330,- Belts and bandoliers
3,H4,FinalApparel,Final Apparel,420340,- Other clothing accessories
4,H4,FinalApparel,Final Apparel,610120,- Of cotton

In [7]:
gvc_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Nomencode           1807 non-null   object
 1   ProductGroupCode    1807 non-null   object
 2   ProductGroupName    1807 non-null   object
 3   ProductCode         1807 non-null   int64
 4   Productdescription  1807 non-null   object
dtypes: int64(1), object(4)
memory usage: 70.7+ KB

In [8]:
# check for NA values in dataset
print(gvc_class.isnull().sum())
print(gvc_class.isnull().values.any())
print(gvc_class.isnull().values.sum())

Nomencode             0
ProductGroupCode      0
ProductGroupName      0
ProductCode           0
Productdescription    0
dtype: int64
False
0

In [9]:
gvc_class.shape

(1807, 5)

In [10]:
print(gvc_class.apply(lambda col: col.unique()))

Nomencode                                                          [H4]
ProductGroupCode      [FinalApparel, FinalApprlFoot, FinalAutosCom, ...
ProductGroupName      [Final Apparel, Final Apparel & Footwear, Fina...
ProductCode           [420310, 420329, 420330, 420340, 610120, 61013...
Productdescription    [- Articles of apparel, -- Other, - Belts and ...
dtype: object

In [11]:
print(gvc_class.apply(lambda col: col.nunique()))

Nomencode                1
ProductGroupCode        13
ProductGroupName        13
ProductCode           1112
Productdescription     487
dtype: int64

In [12]:
gvc_class[gvc_class.duplicated(['ProductCode'])]

,Nomencode,ProductGroupCode,ProductGroupName,ProductCode,Productdescription
226,H4,FinalApprlFoot,Final Apparel & Footwear,420310,- Articles of apparel
227,H4,FinalApprlFoot,Final Apparel & Footwear,420329,-- Other
228,H4,FinalApprlFoot,Final Apparel & Footwear,420330,- Belts and bandoliers
229,H4,FinalApprlFoot,Final Apparel & Footwear,420340,- Other clothing accessories
230,H4,FinalApprlFoot,Final Apparel & Footwear,610120,- Of cotton
...,...,...,...,...,...
1795,H4,InterElectronic,Intermediate Electronics,854810,"-Waste and scrap of primary cells, primary bat..."
1796,H4,InterElectronic,Intermediate Electronics,854890,- Other
1804,H4,InterFootwear,Intermediate Footwear,640610,"- Uppers and parts thereof, other than stiffeners"
1805,H4,InterFootwear,Intermediate Footwear,640620,"- Outer soles and heels, of rubber or plastics"
1806,H4,InterFootwear,Intermediate Footwear,640690,- Other

In [13]:
1112 + 695

1807

In [14]:
## Pivot table to identify the one-to-many mapping
code_to_product = gvc_class.pivot_table(index = ['ProductCode', 'ProductGroupName'], aggfunc ='size')

In [15]:
code_to_product.to_csv("code_to_product.csv", sep = ',')

In [16]:
code_reps = gvc_class.pivot_table(index = ['ProductCode'], aggfunc ='size')

In [17]:
code_reps.to_csv("code_reps.csv", sep = ',')

In [18]:
# Count of each product group name 
code_to_product.groupby('ProductGroupName').count()

ProductGroupName
Final Apparel                      226
Final Apparel & Footwear           248
Final Electronics                  195
Final Footwear                      22
Final Textiles                     123
Final Vehicles (Pass+Comm)          38
Final Vehicles Commercial           24
Final Vehicles Passenger            14
Intermediate Apparel               388
Intermediate Apparel & Footwear    391
Intermediate Electronics            73
Intermediate Footwear                3
Intermediate Vehicles               62
dtype: int64

### It can be noticed the Apparel & Footwear are usually higher in number with respect to the individual ones

In [19]:
imports = pd.read_csv("India Imports_ Commodity Wise (21-22).csv")

In [20]:
imports.head()

,S.No.,HSCode,Commodity,2020-2021,%Share,2021-2022,%Share.1,%Growth
0,1,1012100.0,PURE-BRED BREEDING HORSES,1.24,0.0003,1.01,0.0002,-18.37
1,2,1012910.0,HORSES FOR POLO,0.32,0.0001,NaN,NaN,NaN
2,3,1012990.0,OTHER HORSES,0.95,0.0002,1.78,0.0003,87.65
3,4,1019090.0,"MULES,HINNIES OTHR THN LIVESTOCK",0,0.0000,0,0.0000,-92.31
4,5,1022110.0,BULLS FOR PURE BRED BREEDING,1.97,0.0005,NaN,NaN,NaN

In [23]:
imports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10347 entries, 0 to 10346
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   S.No.      10345 non-null  object
 1   HSCode     10344 non-null  object
 2   Commodity  10345 non-null  object
 3   2020-2021  9741 non-null   object
 4   %Share     9740 non-null   float64
 5   2021-2022  9745 non-null   object
 6   %Share.1   9744 non-null   float64
 7   %Growth    9258 non-null   object
dtypes: float64(2), object(6)
memory usage: 646.8+ KB

In [22]:
imports['HSCode'] = imports['HSCode'].astype(object)

In [26]:
imports.loc[imports['HSCode'] == 39074000]

,S.No.,HSCode,Commodity,2020-2021,%Share,2021-2022,%Share.1,%Growth
3548,3549,39074000.0,POLYCARBONATES,362.71,0.092,637.81,0.104,75.85

In [30]:

imports[(imports['HSCode'] == 39074000) | (imports['HSCode'] == 39199090)]

,S.No.,HSCode,Commodity,2020-2021,%Share,2021-2022,%Share.1,%Growth
3548,3549,39074000.0,POLYCARBONATES,362.71,0.0920,637.81,0.1040,75.85
3686,3687,39199090.0,OTHER SELF-ADHSV PLTS ETC NES,322.22,0.0817,396.97,0.0648,23.2

In [33]:
# inputs of mechanics/metal mechanics 
io_mechanics = imports[(imports['HSCode'] == 39074000) |
(imports['HSCode'] == 39199090) |
(imports['HSCode'] == 35069999) |
(imports['HSCode'] == 72101290)]

In [34]:
io_mechanics

,S.No.,HSCode,Commodity,2020-2021,%Share,2021-2022,%Share.1,%Growth
3267,3268,35069999.0,OTHR PRPD GLUES AND OTHR ADHSVS NES,86.32,0.0219,109.57,0.0179,26.94
3548,3549,39074000.0,POLYCARBONATES,362.71,0.0920,637.81,0.1040,75.85
3686,3687,39199090.0,OTHER SELF-ADHSV PLTS ETC NES,322.22,0.0817,396.97,0.0648,23.2
6801,6802,72101290.0,"OTHER PLATES,SHEETS,STRIPS",78.99,0.0200,40.22,0.0066,-49.08

In [35]:
# Inputs of PCBA
io_pcba = imports[(imports['HSCode'] == 39219099) |
(imports['HSCode'] == 28332400) |
(imports['HSCode'] == 74199990) |
(imports['HSCode'] == 28431010) |
(imports['HSCode'] == 85369090) |
(imports['HSCode'] == 90318000) |
(imports['HSCode'] == 85045090)]

In [42]:
# Inputs of camera module/connector
io_camera = imports[(imports['HSCode'] == 39209999) |
(imports['HSCode'] == 85177990)]

In [44]:
# Inputs of Chargers
io_chargers  = imports[(imports['HSCode'] == 85441110) |
(imports['HSCode'] == 39234000) |
(imports['HSCode'] == 39199090) |
(imports['HSCode'] == 32089049) |
(imports['HSCode'] == 85444999)]

In [45]:
# Parts of Open Cell Assembly for TV
io_tvcell = imports[(imports['HSCode'] == 85299090)]

In [48]:
identified_imports  = pd.concat([io_mechanics, io_pcba, io_camera,io_chargers, io_tvcell])

In [49]:
identified_imports.to_csv('identified_imports.csv', sep =',')

In [37]:
# # inputs of mechanics/metal mechanics 
# highlighted_imports = imports[(imports['HSCode'] == 39074000) |
# (imports['HSCode'] == 39199090) |
# (imports['HSCode'] == 35069999) |
# (imports['HSCode'] == 72101290) |

# # Inputs of PCBA
# (imports['HSCode'] == 39219099) |
# (imports['HSCode'] == 28332400) |
# (imports['HSCode'] == 74199990) |
# (imports['HSCode'] == 28431010) |
# (imports['HSCode'] == 85369090) |
# (imports['HSCode'] == 90318000) |
# (imports['HSCode'] == 85045090) |

# # Inputs of camera module/connector
# (imports['HSCode'] == 39209999) |
# (imports['HSCode'] == 85177990) |

# # Inputs of Chargers
# (imports['HSCode'] == 85441110) |
# (imports['HSCode'] == 39234000) |
# (imports['HSCode'] == 39199090) |
# (imports['HSCode'] == 32089049) |
# (imports['HSCode'] == 85444999) |

# # Parts of Open Cell Assembly for TV
# (imports['HSCode'] == 85299090)]

In [52]:
code_to_product.head()

ProductCode  ProductGroupName
300120       Intermediate Apparel               1
             Intermediate Apparel & Footwear    1
300190       Intermediate Apparel               1
             Intermediate Apparel & Footwear    1
300210       Intermediate Apparel               1
dtype: int64

In [53]:
code_to_product.shape

(1807,)

In [58]:
code_to_product = code_to_product.reset_index()

In [59]:
code_to_product.shape

(1807, 3)

In [60]:
code_to_product.columns

Index(['ProductCode', 'ProductGroupName', 0], dtype='object')

In [64]:
code_to_product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ProductCode       1807 non-null   int64
 1   ProductGroupName  1807 non-null   object
 2   0                 1807 non-null   int64
dtypes: int64(2), object(1)
memory usage: 42.5+ KB

In [65]:
import pandas as pd

# Create a Pandas DataFrame
df = pd.DataFrame({'Group': ['A', 'A', 'B', 'B'], 'String': ['foo', 'bar', 'baz', 'qux']})

# Define a custom function that returns the maximum length string for a given group
def max_length_string(group):
    return group.loc[group['String'].str.len().idxmax()]

# Use the apply method to apply the custom function to each group
df = df.groupby('Group').apply(max_length_string)

print(df)

      Group String
Group
A         A    foo
B         B    baz

In [66]:
def max_length_string(group):
    return group.loc[group['ProductGroupName'].str.len().idxmax()]

In [70]:
code_prod_processed = code_to_product.groupby('ProductCode').apply(max_length_string)

In [86]:
code_prod_processed.to_csv("code_product_proc.csv")

In [93]:
state_exports_21_22_1 = pd.read_excel("states_exports_21_22_1.xls")

In [94]:
state_exports_21_22_1.head()

,HSCode,State,Commodity Description,"March, 22 Value(INR)","March, 22 Value(US $)","April, 21 To March, 22 Value(INR)","April, 21 To March, 22 Value(US $)"
0,30359,ANDAMAN & NICOBAR,"OTHER FISH INCL INDIAN MACKERELS, CREVALLES, S...",2874220,37697,65912733,884253
1,30389,ANDAMAN & NICOBAR,OTHER:,4100064,53775,9966245,132557
2,390610,ANDAMAN & NICOBAR,POLYMETHYL METHACRYLATE,107568,1411,107568,1411
3,400400,ANDAMAN & NICOBAR,"WASTE,PARINGS AND SCRAP OF RUBR(BESIDES HARDRU...",0,0,1125,15
4,401110,ANDAMAN & NICOBAR,NEW PNMTC TYRES OF A KND USED ON MOTOR CARS...,0,0,22800,310

In [95]:
state_exports_21_22_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 7 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   HSCode                              10001 non-null  int64
 1   State                               10001 non-null  object
 2   Commodity Description               10001 non-null  object
 3   March, 22 Value(INR)                10001 non-null  int64
 4   March, 22 Value(US $)               10001 non-null  int64
 5   April, 21 To March, 22 Value(INR)   10001 non-null  int64
 6   April, 21 To March, 22 Value(US $)  10001 non-null  int64
dtypes: int64(5), object(2)
memory usage: 547.1+ KB

In [96]:
state_exports_21_22_1['HSCode'] = state_exports_21_22_1['HSCode'].astype(object)

In [97]:
state_exports_21_22_1.head()

,HSCode,State,Commodity Description,"March, 22 Value(INR)","March, 22 Value(US $)","April, 21 To March, 22 Value(INR)","April, 21 To March, 22 Value(US $)"
0,30359,ANDAMAN & NICOBAR,"OTHER FISH INCL INDIAN MACKERELS, CREVALLES, S...",2874220,37697,65912733,884253
1,30389,ANDAMAN & NICOBAR,OTHER:,4100064,53775,9966245,132557
2,390610,ANDAMAN & NICOBAR,POLYMETHYL METHACRYLATE,107568,1411,107568,1411
3,400400,ANDAMAN & NICOBAR,"WASTE,PARINGS AND SCRAP OF RUBR(BESIDES HARDRU...",0,0,1125,15
4,401110,ANDAMAN & NICOBAR,NEW PNMTC TYRES OF A KND USED ON MOTOR CARS...,0,0,22800,310

In [100]:
code_prod_processed.columns

Index(['HSCode', 'ProductGroupName', 0], dtype='object')

In [99]:
code_prod_processed.rename(columns={'ProductCode': 'HSCode'}, inplace=True)

In [101]:
code_prod_processed.shape

(1112, 3)

In [104]:
gvc_ref = pd.read_csv("code_product_processed.csv")

In [105]:
gvc_ref.head()

   HSCode                 ProductGroupName
0  300120  Intermediate Apparel & Footwear
1  300190  Intermediate Apparel & Footwear
2  300210  Intermediate Apparel & Footwear
3  300220  Intermediate Apparel & Footwear
4  300230  Intermediate Apparel & Footwear

In [106]:
df_lookup = pd.merge(state_exports_21_22_1, gvc_ref, on='HSCode', how = 'outer')

#df_outer = pd.merge(df1, df2, on='id', how='outer')

/var/folders/p1/q5c9bp1x46v472t6zd7w4hcw0000gn/T/ipykernel_1338/1931461861.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  df_lookup = pd.merge(state_exports_21_22_1, gvc_ref, on='HSCode', how = 'outer')

In [107]:
df_lookup.head()

,HSCode,State,Commodity Description,"March, 22 Value(INR)","March, 22 Value(US $)","April, 21 To March, 22 Value(INR)","April, 21 To March, 22 Value(US $)",ProductGroupName
0,30359.0,ANDAMAN & NICOBAR,"OTHER FISH INCL INDIAN MACKERELS, CREVALLES, S...",2874220.0,37697.0,65912733.0,884253.0,NaN
1,30359.0,ANDHRA PRADESH,"OTHER FISH INCL INDIAN MACKERELS, CREVALLES, S...",3162890.0,41484.0,21676829.0,290787.0,NaN
2,30389.0,ANDAMAN & NICOBAR,OTHER:,4100064.0,53775.0,9966245.0,132557.0,NaN
3,30389.0,ANDHRA PRADESH,OTHER:,2587350.0,33935.0,83316497.0,1119124.0,NaN
4,30389.0,DADRA & NAGAR HAVELI,OTHER:,0.0,0.0,11103172.0,148156.0,NaN

In [108]:
df_lookup.to_csv("final_file.csv")

In [109]:
df_lookup1 = pd.merge(state_exports_21_22_1, gvc_ref, on='HSCode', how = 'inner')

In [110]:
df_lookup1.to_csv("filtered_file.csv")